@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply text-white;
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 5s ease infinite;
  -moz-animation: animation 5s ease infinite;
  animation: animation 5s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 60% 100%;
  }

  50% {
    background-position: 100% 60%;
  }
}

.btn {
  @apply rounded-md;
  @apply min-h-6;
}

.btn-primary {
  @apply bg-primary;
  @apply border-none;
  @apply text-white;
  @apply font-bold;
}
